body {
  background-color: #348feb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-color: #3399ff;
  border-color: #3399ff;
}
.btn-primary:hover {
  background-color: #1d8fff;
  border-color: #1d8fff;
}