body{
    background-color: rgb(153, 235, 153);
}
.main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.home{
    height: 50px;
    text-align: center;
    background-color: lightgray;
}

.top{
    width: 100%;

}

.registrati{
    display: block;
    position: relative;
    top: -120px;
}

.login{
    display: block;
    position: relative;
    top: -60px;
}

.libro_section{
    display: block;
    position: relative;
    top: -600px;
}

.description{
    width: 70%;
    font-family: Arial, sans-serif;
    
}

.libro{
    width: 180px; 
    height: auto;
}

.libro_description{
    width: 400px; 
    height: 260px;
}

.libro_bg{
    background-color: lightgray;
}
.libro_position{
    display: block;
    position: relative;
    left: 15px
}
